<ion-view view-title="Dashboard" cache-view="false" hide-back-button="true">

  <ion-content class="no-header">
	
		<div style="padding-top:30%">
			<ion-tabs class = "tabs-assertive">
				<ion-tab title="New ">
					<ion-nav-view name="home-tab">
			
						<div class="card" ui-sref="app.view_order">
						
							<div class="row">
							<div class="col s5" style="background-color:#D1CDCC">
							Adyar
							</div>				
							<div class="col s5" style="background-color:#B2A7A5">
							Manu Alosious</br>
							Shastri Nagar,Adyar</br>
							Chennai
							</div>
							</div>
							
						</div>
						<div class="card" ui-sref="app.view_order">
							<div class="row">
							<div class="col s5" style="background-color:#D1CDCC">
							Adyar
							</div>				
							<div class="col s5" style="background-color:#B2A7A5">
							Njo Joseph</br>
							Gandhi Nagar,Adyar</br>
							Chennai
							</div>
							</div>
						</div>
						<div class="card" ui-sref="app.view_order">
						
							<div class="row">
							<div class="col s5" style="background-color:#D1CDCC">
							Adyar
							</div>				
							<div class="col s5" style="background-color:#B2A7A5">
							Manu Alosious</br>
							Shastri Nagar,Adyar</br>
							Chennai
							</div>
							</div>
							
						</div>
						<div class="card" ui-sref="app.view_order">
						
							<div class="row">
							<div class="col s5" style="background-color:#D1CDCC">
							Adyar
							</div>				
							<div class="col s5" style="background-color:#B2A7A5">
							Manu Alosious</br>
							Shastri Nagar,Adyar</br>
							Chennai
							</div>
							</div>
							
						</div>
						<div class="card" ui-sref="app.view_order">
						
							<div class="row">
							<div class="col s5" style="background-color:#D1CDCC">
							Adyar
							</div>				
							<div class="col s5" style="background-color:#B2A7A5">
							Manu Alosious</br>
							Shastri Nagar,Adyar</br>
							Chennai
							</div>
							</div>
							
						</div>
	   
					</ion-nav-view>
				</ion-tab>
				<ion-tab title="Accepted">
					<ion-nav-view name="home-tab">
			
						<div class="card" ui-sref="app.view_order">
							<div class="card" ui-sref="app.view_order">
							<div class="row">
							<div class="col s5" style="background-color:#D1CDCC">
							Adyar
							</div>				
							<div class="col s5" style="background-color:#B2A7A5">
							Lakshmi Menon</br>
							Gandhi Nagar,Adyar</br>
							Chennai
							</div>
							</div>
						</div>
						</div>
						<div class="card" ui-sref="app.view_order">
							<div class="card" ui-sref="app.view_order">
							<div class="row">
							<div class="col s5" style="background-color:#D1CDCC">
							Porur
							</div>				
							<div class="col s5" style="background-color:#B2A7A5">
							Anna Jose</br>
							Gandhi Nagar,Adyar</br>
							Chennai
							</div>
							</div>
						</div>
						</div>
						<div class="card" ui-sref="app.view_order">
						
							<div class="row">
							<div class="col s5" style="background-color:#D1CDCC">
							Adyar
							</div>				
							<div class="col s5" style="background-color:#B2A7A5">
							Manu Alosious</br>
							Shastri Nagar,Adyar</br>
							Chennai
							</div>
							</div>
							
						</div>
						<div class="card" ui-sref="app.view_order">
						
							<div class="row">
							<div class="col s5" style="background-color:#D1CDCC">
							Adyar
							</div>				
							<div class="col s5" style="background-color:#B2A7A5">
							Manu Alosious</br>
							Shastri Nagar,Adyar</br>
							Chennai
							</div>
							</div>
							
						</div>
						<div class="card" ui-sref="app.view_order">
						
							<div class="row">
							<div class="col s5" style="background-color:#D1CDCC">
							Adyar
							</div>				
							<div class="col s5" style="background-color:#B2A7A5">
							Manu Alosious</br>
							Shastri Nagar,Adyar</br>
							Chennai
							</div>
							</div>
							
						</div>
	   
					</ion-nav-view>
				</ion-tab>
				<ion-tab title="Delivered">
					<ion-nav-view name="home-tab">
			
						<div class="card" ui-sref="app.view_order">
							<div class="card" ui-sref="app.view_order">
							<div class="row">
							<div class="col s5" style="background-color:#D1CDCC">
							Velacherry
							</div>				
							<div class="col s5" style="background-color:#B2A7A5">
							Arun Dev</br>
							Gandhi Nagar,Adyar</br>
							Chennai
							</div>
							</div>
						</div>
						</div>
						<div class="card" ui-sref="app.view_order">
							<div class="card" ui-sref="app.view_order">
							<div class="row">
							<div class="col s5" style="background-color:#D1CDCC">
							Adyar
							</div>				
							<div class="col s5" style="background-color:#B2A7A5">
							Santhosh Joseph</br>
							Gandhi Nagar,Adyar</br>
							Chennai
							</div>
							</div>
						</div>
						</div>
						<div class="card" ui-sref="app.view_order">
						
							<div class="row">
							<div class="col s5" style="background-color:#D1CDCC">
							Adyar
							</div>				
							<div class="col s5" style="background-color:#B2A7A5">
							Manu Alosious</br>
							Shastri Nagar,Adyar</br>
							Chennai
							</div>
							</div>
							
						</div>
						<div class="card" ui-sref="app.view_order">
						
							<div class="row">
							<div class="col s5" style="background-color:#D1CDCC">
							Adyar
							</div>				
							<div class="col s5" style="background-color:#B2A7A5">
							Manu Alosious</br>
							Shastri Nagar,Adyar</br>
							Chennai
							</div>
							</div>
							
						</div>
	   
					</ion-nav-view>
				</ion-tab>

		  


		  </ion-tabs>
	  
	
	</div>
	
 
	
	

  
  
  </ion-content>
</ion-view>
