<ion-view view-title="Dashboard" cache-view="false" hide-back-button="true">

  <ion-content overflow-scroll="true">
	<div style="height:10%;background-color:black">
	</div>
	<div style="">
		<div>
			<h2 style="text-align:center">Orders</h2>
		</div>
		<div class="row">
			<div class="col col-50">
				<h3 style="text-align:center">Origin</h3>
			</div>
			<div class="col col-50">
				<h3 style="text-align:center">Destination</h3>
			</div>
		</div>
	</div>
	<div ng-repeat="order in order_details">
		<div class="row" ui-sref="app.view_order({order_id : order.id})">
			<div class="col col-40" style="background-color:#D1CDCC">
				{{order.restaurant_name}}
			</div>	
			<div class="col col-20" style="background-color:#B2A7A5">
				<div class="row">
				COD
				</div>
				<div class="row" style="padding-bottom:0px">
				<button>{{order.totalamount}}</button>
				</div>
			</div>
			<div class="col col-40" style="background-color:#D4CDCC">
				{{order.address}}
				</div>
		</div>	
		<div style="height:2%;">
		</div>
		
		
	
	</div>

  
  
  </ion-content>
</ion-view>
