<ion-view view-title="My Order" hide-back-button="true">

<ion-content overflow-scroll="true">

	<div>
	
		<div class="row">
			<div class="col col-30" >
				Date
			</div>
			<div class="col col-30">
				Order No
			</div>
			<div class="col col-30">
				Status
			</div>
			
		</div>
		
		<div class="row" ui-sref="app.view_order({order_id : 1})">
			<div class="col col-30" >
				19/5/2016
			</div>
			<div class="col col-30">
				A230
			</div>
			<div class="col col-30">
				Delivered
			</div>
			
		</div>
		
		<div class="row" ui-sref="app.view_order({order_id : 1})">
			<div class="col col-30" >
				19/5/2016
			</div>
			<div class="col col-30">
				BC435
			</div>
			<div class="col col-30">
				Delivered
			</div>
			
		</div>
		
			<div class="row" ui-sref="app.view_order({order_id : 1})">
			<div class="col col-30" >
				19/5/2016
			</div>
			<div class="col col-30">
				BC435
			</div>
			<div class="col col-30">
				Delivered
			</div>
			
		</div>

	</div>


</ion-content>
</ion-view>