<ion-view view-title="Profile" cache-view="false" hide-back-button="true">
  <ion-content overflow-scroll="true">
    
	<div style="height:50%;">
	
	<div class="user">
<!--	<div align="right" style="padding-right:10px" ><i class="icon_edit ion-android-create " ui-sref="app.edit_profile"></i></div>-->
				
				
				<div ng-repeat="profileinfo in profiledata">
				
				 <div class="col item-bg-color">
 
  	<div class="col" style="padding-left:40%">
  		<img ng-src="{{profileinfo.imageurl}}" style="border-radius: 50%; width: 80px; height: 80px;" >
	</div>
  
  	
	<div class="row">
		<div class="col " align="center">
			<h3 class="white-font2">{{profileinfo.name}}</h3>
		</div>
	</div>

	</div>
				
				
				<div class="list padding">
	<label class="item-input item-stacked-label row-bottom-border">
		<!-- <h5 class="input-label h4-font">Name</h5> -->
		<div class="row">
			<div class="col col-80">
				<h5>{{profileinfo.name}}</h5>
			</div>
			<div class="col col-20 icon-padding1" align="right">
				<img src="img/user.svg" width="30" height="30">
			</div>
		</div>
		
	</label>
	<label class="item-input item-stacked-label row-bottom-border">
		<div class="row">
			<div class="col col-80">
				<h5>{{profileinfo.email}}</h5>
			</div>
			<div class="col col-20 icon-padding1" align="right">
				<img src="img/message.png" width="28" height="28">
			</div>
		</div>
	</label>
<!--	<label class="item-input item-stacked-label row-bottom-border">
		<div class="row">
			<div class="col col-80">
				<h5>01/05/1990</h5>
			</div>
			<div class="col col-20 icon-padding1" align="right">
				<img src="img/calendar.svg" width="30" height="30">
			</div>
		</div>
	</label>-->
	<label class="item-input item-stacked-label row-bottom-border">
		<div class="row">
			<div class="col col-80">
				<h5>{{profileinfo.phone}}</h5>
			</div>
			<div class="col col-20 icon-padding1" align="right">
				<img src="img/phone1.svg" width="30" height="30">
			</div>
		</div>
	</label>
	<label class="item-input item-stacked-label row-bottom-border">
		<div class="row">
			<div class="col col-80">
				<h5> {{profileinfo.address}}</h5>
			</div>
			<div class="col col-20 icon-padding1" align="right">
				<img src="img/address.jpg" width="30" height="30">
			</div>
		</div>
	</label>
<!--	<label class="item-input item-stacked-label row-bottom-border">
		<div class="row">
			<div class="col col-80">
				<h5>No 13, Gandhi Nagar, Adyar, Chennai</h5>
			</div>
			<div class="col col-20 icon-padding1" align="right">
				<img src="img/address-book.png" width="30" height="30">
			</div>
		</div>
	</label>-->
</div>
          	</div>
			</div>
	
	
	
	</div>
	<div style="height:50%;">
	
	
	
	
	
	</div>
  
  
  
</ion-content>
</ion-view>



