<ion-view title="Order Details" hide-back-button="true">
  <ion-content padding="true" class="has-header">
    
 	
	<div class="card">
	
		<div class="row">
			<div class="col col-60">
			<h4>{{order_cust_details.customer_name}}</h4>
				<p>{{order_cust_details.address}}</p>
			
			</div>
			<div class="col col-40">
			<span>{{order_cust_details.id}}</span></br>
			COD
			
			</div>
	
		</div>
		<div class="row" >
			<div class="col col-50" style="border:1px solid black">
			 <i class="ion-ios-telephone ion_icons_header"></i> <a href="tel:' + {{order_cust_details.phone}} + '">Call customer</a>
			
			</div>
			<div class="col col-50" style="border:1px solid black" ui-sref="app.map">
			<i class="ion-android-pin ion_icons_header"></i><span> View Map</span>
			
			</div>
	
		</div>
	</div>
	
	
	
    <div class="card">
	
	<ion-list>
      <ion-item><h2>Order Details</h2></ion-item>
    </ion-list>
	
      <ion-item ng-repeat="orders in order_details">{{orders.item_name}}
	  <span>Qty:{{orders.item_quanitity}}
        <span class="item-note">Rs.{{orders.item_price}}</span>
      </ion-item>
     
      <ion-item class="item-icon-left dark">
        <i class="icon ion-ionic"></i>Subtotal
        <span class="item-note">Rs.{{total_amount}}</span>
      </ion-item>
    </div>
    <div class="spacer" style="width: 300px; height: 8px;"></div>
     <ion-item>Payment
        <span class="item-note">Received</span>
      </ion-item>
	  
	<ion-list>
	   <ion-list>
      <div class="spacer" style="width: 300px; height: 8px;"></div>
     <ion-item ng-click="show_actionsheet()">Delivery Status
        <span class="item-note" >{{delivery_status}}</span>
      </ion-item>
    </ion-list>
      <ion-item class="item-avatar">
        
      
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>