<ion-view title="Order Details" hide-back-button="true">
  <ion-content padding="true" class="has-header">
    
    <div class="spacer" style="width: 300px; height: 24px;"></div>
    <ion-list>
      <ion-item> Order Details</ion-item>
    </ion-list>
    <div class="list card">
      <ion-item>Hyderabadi Biriyani
        <span class="item-note">Rs.155.00</span>
      </ion-item>
      <ion-item>Pepper Barbecue
        <span class="item-note">Rs.250.00</span>
      </ion-item>
      <ion-item>Chiken Tikka
        <span class="item-note">Rs.250.00</span>
      </ion-item>
      <ion-item>Ice Cream
        <span class="item-note">Rs.600.00</span>
      </ion-item>
      <ion-item class="item-icon-left dark">
        <i class="icon ion-ionic"></i>Subtotal
        <span class="item-note">Rs.1155.00</span>
      </ion-item>
    </div>
    <div class="spacer" style="width: 300px; height: 8px;"></div>
     <ion-item>Payment
        <span class="item-note">Received</span>
      </ion-item>
	  <ion-list>
	   <ion-list>
      <ion-item> Customer Details</ion-item>
    </ion-list>
      <ion-item class="item-avatar">
        
        <h2>Nijo Joseph</h2>
        <p>No. 007,</br> 
		1st Main Road, Gandhi Nagar,</br>
		Adyar, Chennai - 600020</p>
		 <a href="tel:123-456-7890" style="color:blue">9876567898</a>
		
		<p>Landmark: NEAR Humbi Hotel</p></br>
	<!--	<span ng-click="modal_direction()" style="color:blue">Get Directions</span>-->
	<span ui-sref="app.map" style="color:blue">Get Directions</span>
      </ion-item>
    </ion-list>
	<ion-list>
	   <ion-list>
      <div class="spacer" style="width: 300px; height: 8px;"></div>
     <ion-item ng-click="show_actionsheet()">Delivery Status
        <span class="item-note" >{{delivery_status}}</span>
      </ion-item>
    </ion-list>
      <ion-item class="item-avatar">
        
      
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>